@font-face {
    font-family: "false";
    src: url("Satoshi-Italic.eot"); /* IE9 */
    src: url("Satoshi-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Satoshi-Italic.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Satoshi-Italic.woff") format("woff"), /* chrome, firefox */
    url("Satoshi-Italic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Satoshi-Italic.svg#false") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


