@font-face {
    font-family: "Satoshi Variable";
    src: url("Satoshi-VariableItalic.eot"); /* IE9 */
    src: url("Satoshi-VariableItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Satoshi-VariableItalic.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Satoshi-VariableItalic.woff") format("woff"), /* chrome, firefox */
    url("Satoshi-VariableItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Satoshi-VariableItalic.svg#Satoshi Variable") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


